

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root{
    --primary-color: #0B57AD;
    --primary-light-color: #E7F4FE;
    --secondary-color: yellow;
}


*{
    margin:0;
    box-sizing: border-box ;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
body{
    color:#0A264F;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    background: var(--primary-light-color);
}

h4{
    color: #175293;
}
h3{
    color: #0A264F;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:#fff;
    font-size: 14px;
    font-weight: 600;
}
/* navbar */
.navbar{
    background: var(--primary-color);
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.navbar nav a span{
    padding: 0 4px;
}
.navbar nav a:hover span{
    color: #f9F4D8;
    padding-bottom: 8px;
    border-bottom: 3px solid #F9F4D8;
}
.navbar > .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:100%;
}

.navbar .fas{
    color: #fff !important;
    font-size: 18px;
}

.navbar .fa-times{
    position: absolute;
    right: 2em;
    top: 2em;
}
/* SHOWCASE */
.showcase{
    margin-top: 90px;
}


/*showcase*/
.showcase{
    background: var(--primary-color);
    color:#fff;
    padding-top:40px;
    padding-bottom:40px;
    height: 100%;
    max-height: 900px;
}
.showcase-text p{
    margin-top: 2em;
}
.showcase-text .red-underline{
    border-bottom: 3px solid #FF3A44;
}

.showcase-text .yellow-underline{
    border-bottom:  3px solid #F6BB00;
}
.showcase-text .green-underline{
    border-bottom: 3px solid #1EB742;
}
.showcase-text .blue-underline{
    border-bottom:  5px solid #3D95F7;
}
.showcase-text img{
    margin:2em 0;
    width: 100%;
    max-width: 260px;
}
.showcase-btns img{
    width: 168px;
    height: 50px;
    margin:0;
}
.showcase-btns img:nth-child(1){
    margin-top:2em;
}
.showcase-pic{
    text-align: right;
    transform: translateY(125px);
    -webkit-transform: translateY(125px);
}

/* ABOUT  */
section.about{
    background: var(--primary-light-color);
    overflow-x: hidden !important;
}
.about .container{
    padding-top: 100px;
}

.about > div {
    text-align: center;
}

.about .text{
    margin-top: 2em;
}
.about  h1{
    color: #1662FA;
}
.about .container > div{
    padding: 40px 0;
}
.about .text span{
    color: #1662FA;
}

/* PRODUCT */
section.product{
    background: var(--primary-light-color);
}
.product .container{
    padding-top: 120px;
}
.product ul{
    width: 100%;
    max-width: 622px;
    margin: 1em auto;
}
.product ul.gif-list li{
    margin:2.5em 0;
}
.product ul li{
    display: flex;
    gap: 1em;
    align-items: baseline;
}
.product li i{
    color: #3D95F7;
    padding: 1em;
    border-radius: 100%;
    transition: 0.2s;
}
.product .phone-frame{
    z-index: 1;
    position: relative;
}
.product .phone-wrapper{
    position: relative;
}
.product .gif{
    position: absolute;
    z-index: 0;
    display: none;
}
.mobile-wrapper i{
    position: absolute;
    right: 2em;
    top: 2em;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.phone-wrapper img.notes{
    position: absolute;
    z-index: 10;
}
.phone-wrapper img:nth-child(6){
    bottom: 0;
    left: 0;
    transform: translate(-50px, 24px);
}
.phone-wrapper img:nth-child(7){
    right: 0;
    bottom: 0;
    transform: translate(42px, 40px);
}
.highlight{
    background: rgb(61, 149, 247);
    color: rgb(255, 255, 255) !important;
}

/* pricing  */
.pricing {
    padding-top: 4em;
}
.pricing h2{
    text-align: center;
    margin: 2em 0;
    color:  #175293
}
.pricing h2 img{
    width: 41px;
    height: 64px;
    transform: rotate(-16deg) translate(-20px,22px);
    -webkit-transform: rotate(-16deg) translate(-20px,22px);
}
.pricing h2 img:nth-child(2){
    width: 57px;
    height: 54px;
    transform: rotate(0deg) translate(-24px,-31px);
    -webkit-transform: rotate(0deg) translate(-24px,-31px);
}
.pricing img{
    width: 100%;
    max-width: 220px;
}
.pricing ul{
    width: 100%; 
    max-width: 300px;
    margin: 2em auto;
}
.pricing .flex{
    justify-content: left;
}
.pricing ul i{
    color: #3D95F7;
    width: 100%;
    max-width: 25px;
}
.pricing .card{
    width: 100%;
    max-width: 372px;
    margin: 2em auto;
}
.pricing .grid-3{
    width: 100%;
    max-width: 1345px;
    margin: 1em auto;
}
.pricing .card.standard{
    background: #0B57AD;
    color: #fff;
}
.pricing .card.standard i{
    color: #fff;
}
.pricing .card.standard h3,
.pricing .card.standard h4,
.pricing .card.standard .body4-text{
    color: #fff;
}

/* team */
.team .container{
    padding-top: 120px;
    padding-bottom: 120px;
}
.team .header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    color:  #175293
}
.team{
    padding: 5em 0;
    background: #e6f4fe;
}
.team .card.grid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0;
    align-items: center;
    gap: 1em;
    margin-top: 5em;
    height: 100%;
    max-height: 140px;
}

.team .card{
    width: 100%;
    max-width: 500px;
    margin: 1em auto;

}
.team .card .text{
    text-align: left;
}   
.team ul{
    margin: 1em 0;
}
.team .card .body1-text{
    color:  #1959A0;
}
.team .card > img{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 140px;
}
.team .text img{
    position: absolute;
    bottom: 0;
    right: 0;
    /* transform: rotate(12deg) translate(31px,22px);
    -webkit-transform: rotate(12deg) translate(31px,22px); */
}
.team .text.ceo img{
    transform: translate(26px,40px);
    -webkit-transform: translate(26px,40px);
}
.team .text.coFounder img{
    transform: translate(19px,27px);
    -webkit-transform: translate(19px,27px);
}
.team .text.productOwner img{
    transform: translate(8px,23px);
    -webkit-transform: translate(8px,23px);
}

.team .text.flutterEngineer1 img{
    transform: translate(24px,48px);
    -webkit-transform: translate(24px,48px);
}
.team .text.flutterEngineer2 img{
    -webkit-transform: translate(4px, 38px);
    transform: translate(4px, 38px);
}
.team .text.designer img{
    -webkit-transform: translate(26px, 33px);
    transform: translate(26px, 33px);
}

/* footer  */
footer{
    /* background: #0A264F; */
    color: rgb(255, 255, 255);
    background-image: url(../assets/32_curve_dark_blue.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5em;
    padding-bottom: 5em;
}

footer .fab{
    color: #fff;
    font-size: 25px;
    margin-right: 0.5em;
    cursor: pointer;
}
footer .fab:hover{
    color: #F6BB00;
}
footer h3{
    color: #fff;
}
footer .form-wrapper{
    margin-top: 4em;
}
footer .form-wrapper{
    justify-self: center;
    margin-bottom: 4em;
}

footer .copyright-text{
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}
.footer input,.footer textarea{
    padding: 1em;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.footer input[type="submit"] {
    color: #fff;
    background: rgba(246, 187, 0, 0.5) !important;
    padding: 1em 2em;
    border: none;
    max-width: 144px;
}

/*Mobile only*/
@media only screen and (max-width: 425px){
    .navbar img{
        width: 30vw;
    }

    h1{
        font-size: 24px;
        line-height: 34px;
    }
}


@media only screen and (min-width: 768px){
    .team .description span:nth-child(2){
        display: none;
    }
}

@media only screen and (max-width: 1023px){
    .navbar nav{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        padding-top: 90px;
        background: var(--primary-color);
    }
    .navbar nav li{
        margin: 2em;
    }
    .showcase{
        text-align: center;
    }

    /* product */
    .product .mobile-wrapper{
        display: none;
    }
    .product .phone-frame{
        width:100%;
    }
    .product .phone-wrapper{
        margin:0 auto;
        width: 256px;
        height:505px;
    }
    .phone-wrapper img.notes{
        width:100px;
    }
    .product .gif{
        position: absolute;
        z-index: 0;
        left: 18px;
        bottom: 10px;
        display: none;

        width:220px;
        height:478px;
    }
    .modal{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #7575759e;
        padding-top: 120px;
        z-index: 1000;
    }
}

@media only screen and (min-width: 1024px){
    /* navbar  */
    .navbar a {
        padding: 0 20px;
    }

    .navbar .fas{
        display: none;
    }
    .navbar nav{
        display: block;
    }

    /* about */
    .about .flex{
        gap: 2em;
    }
    .about .flex.left{
        justify-content: flex-start;
        text-align: left;
    }
    .about .flex.left .text{
        width: 100%;
        max-width: 517px;
    }
    .about .flex.right{
        justify-content: flex-end;
        text-align: right;
    }
    .about .bg-ellipse{
        border-radius: 100%;
        padding: 6em 0 4em 0 !important;
        margin-top: 4em;
    }

    /* product */
    .product .container{
        padding-bottom: 120px;
    }
    .product .phone-frame{
        z-index: 1;
        position: relative;
    }
    .product .phone-wrapper{
        position: relative;
        width: 397px;
    }
    .product .gif{
        position: absolute;
        z-index: 0;
        left: 28px;
        top: 26px;
        display: none;
    }
    #enhancingGif,
    #organizationGif{
        left: 28px;
        top: 25px;
        width: 340px;
    }
    
    #performanceGif{
        top:23px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
    }

    /*pricing*/
    .pricing .card img{
        width:220px;
        height:220px;
    }
    /* team */
    .team .header{
        gap: 2em;

    }
    .team .body1-text span{
        font-size: 28px;
        line-height: 42px;
        font-weight: 600;
    }

    .team ul.grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    /* Footer */
    .footer p{
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        margin: 0.5em 0;
    }
    .footer a{
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        text-decoration: underline;

    }

    /* FONTS */
    h1{
        font-size: 54px;
        font-weight: 700;
        line-height: 65px;
    }
    h2{
        font-size: 48px;
        font-weight: 600;
        line-height: 42px;
    }
    h3{
        font-size: 28px;
        font-weight: 600;
        line-height: 42px;
    }
    h4{
        font-size: 24px;
        font-weight: 600;
        line-height: 42px;
    }

    .subtitle-1{
        font-size: 16px;
        font-weight: 500;
        line-height: 19.36px;
    }
    .subtitle-2{
        font-size: 16px;
        font-weight: 400;
    }
    .header-text{
        font-size: 14px;
        font-weight: 600;
        line-height: 19.36px;
    }
    .body1-text{
        font-size: 21px;
        line-height: 48px;
        font-weight: 500;
    }
    .body2-text{
        font-size: 21px;
        line-height: 42px;
        font-weight: 400;
    }
    .body4-text{
        font-size: 18px;
        line-height: 42px;
        font-weight: 400;
    }
    
}


