/* Utilities */

.container{
    max-width: 1440px;
    margin:0 auto;
    padding:0 1em;
}

.hide{
    display: none;
}

.card{
    background: #fff;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
    filter: drop-shadow(0px 4px 10px rgba(175, 175, 175, 0.25));
}

/* tablet */
@media only screen and (max-width: 1023px){

    .hide-tablet{
        display: none;
    }

}

@media only screen and (min-width: 1024px){
    .flex{
        display: flex;
        justify-content: center;
        align-items: center;
        height:100%;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        height:100%;
    }
    .grid.grid-3 {
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
    }
}
/*.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}*/

/* .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height:100%;
}*/


